<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>portpolio</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>adjoin</servlet-name>
    <servlet-class>admin.admin_join_serv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adjoin</servlet-name>
    <url-pattern>/admin/adjoin.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>idck</servlet-name>
    <servlet-class>admin.idck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>idck</servlet-name>
    <url-pattern>/admin/idck.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>admin_login</servlet-name>
    <servlet-class>admin.admin_login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin_login</servlet-name>
    <url-pattern>/admin/admin_login.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>find_servlet</servlet-name>
    <servlet-class>admin.find_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>find_servlet</servlet-name>
    <url-pattern>/admin/find_servlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>header_session</servlet-name>
    <servlet-class>admin.header_session</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>header_session</servlet-name>
    <url-pattern>/admin/header_session.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>admin_update</servlet-name>
    <servlet-class>admin.admin_update</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin_update</servlet-name>
    <url-pattern>/admin/admin_update.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>setting_set</servlet-name>
    <servlet-class>admin.setting_set</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>setting_set</servlet-name>
    <url-pattern>/admin/setting_set.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>notice_write</servlet-name>
    <servlet-class>admin.notice_write</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>notice_write</servlet-name>
    <url-pattern>/admin/notice_write.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>notice_post</servlet-name>
    <servlet-class>admin.notice_post</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>notice_post</servlet-name>
    <url-pattern>/admin/notice_post.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>notice_modify</servlet-name>
    <servlet-class>admin.notice_modify</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>notice_modify</servlet-name>
    <url-pattern>/admin/notice_modify.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>admin_del</servlet-name>
    <servlet-class>admin.admin_del</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin_del</servlet-name>
    <url-pattern>/admin/admin_del.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>cate_regist</servlet-name>
    <servlet-class>admin.cate_regist</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cate_regist</servlet-name>
    <url-pattern>/admin/cate_regist.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>cate_search</servlet-name>
    <servlet-class>admin.cate_search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cate_search</servlet-name>
    <url-pattern>/admin/cate_search.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>product_search</servlet-name>
    <servlet-class>admin.product_search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>product_search</servlet-name>
    <url-pattern>/admin/product_search.do</url-pattern>
  </servlet-mapping>
</web-app>